/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* * {
   border: 1px solid red;
 } */
@font-face {
  font-family: "neg";
  src: url(../fonts/karloff-neg.otf);
}

/* .neg {
  line-height: 1;
  font-family: "neg";
  font-size: 14pt;
}

@media (min-width: 720px) {
  .neg {
    font-size: 17pt;
  }
}

@media (min-width: 910px) {
  .neg {
    font-size: 19pt;
  }
}

@media (min-width: 1050px) {
  .neg {
    font-size: 25pt;
  }
} */

.background {
  background: #c70cff;
  background-size: cover;
}

.header {
  font-family: "neg", serif, Helvetica;
  font: bold;
  padding-bottom: 10px;

  padding-top: 50px;
  color: #c70cff;
  line-height: 1.2;
  font-size: 45px;
  background-color: #9de22d;

  /* position: fixed; */
}

@media (min-width: 450px) {
  .header {
    font-size: 45px;
  }
}

@media (min-width: 590px) {
  .header {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: 70px;
    line-height: 80px;
  }
}

.bodyindent {
  text-indent: 20px;
}

@media (min-width: 1200px) {
  .bodyindent {
    text-indent: 50px;
  }
}

.bodyindentsmall {
  text-indent: 10px;
}

@media (min-width: 1200px) {
  .bodyindent {
    text-indent: 30px;
  }
}

.side1 {
  font-family: Helvetica, sans-serif;

  /* padding-top: 20px; */
  color: #02f2ff;
  font-size: 16px;
  /* width: 400px; */
}

@media (min-width: 1020px) {
  .side1 {
    font-size: 20px;
  }
}

@media (min-width: 1310px) {
  .side1 {
    font-size: 30px;
  }
}

.side2 {
  font-family: Helvetica;

  color: #9de22d;
  font-size: 14px;
}

@media (min-width: 600px) {
  .side2 {
    font-size: 13px;
  }
}

@media (min-width: 1170px) {
  .side2 {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .side2 {
    font-size: 18px;
  }
}

.mary {
  /* padding-bottom: 20px; don't need -due to side1 class*/
  /* padding-right: 20px;
  don't need because it's part of the side1 class that has padding of 20px*/
  font-family: "neg", serif, Helvetica;
  font: bold;

  font-size: 30px;
  color: #f8ffaf;
  line-height: 1.25;
  /* text-indent: -0.4125em; */
  text-align: center;
  /* image-orientation: center; */
  /* hanging-punctuation: first; */
}

@media (min-width: 600px) {
  .mary {
    font-size: 50px;

    /* text-align: right; */
  }
}

@media (min-width: 1170px) {
  .mary {
    font-size: 60px;
  }
}

@media (min-width: 1280px) {
  .mary {
    font-size: 70px;
  }
}

/*MARY IMAGE*/
.maryimage {
  /* width: 300px; */

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*FRANK IMAGE*/
.frank {
  /* padding-top: 30px; */
  /* width: 300px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .frank {
    /* width: 350px; */
  }
}

.ad {
  /* width: 300px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 30%; */
}
/*
@media (min-width: 815px) {
  .ad {
    width: 0;
  }
} */

.additionalarticle {
  font-family: Helvetica;
  padding-right: 20px;
  padding-left: 50px;
  color: #9de22d;
  font-size: 14px;
  padding-top: 80px;
  padding-bottom: 20px;
}

@media (min-width: 950px) {
  .additionalarticle {
    font-size: 20px;
    padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .additionalarticle {
    font-size: 16px;
    padding-top: 100px;
  }
}
